<div class="container">
    <div class="row-fluid">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">Service du 22 Mai 2017</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary">
                        Ouvrir caisse
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">Chiffre d'affaire</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary">
                        23 000 000 Fcfa
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">2 Alertes</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary">
                        Consulter
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">0 Factures en mémo</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary">
                        Consulter
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-block btn-primary">
                    Historique facture
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-block btn-primary">
                    Statistiques
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-block btn-primary">
                    Rapports
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-block btn-primary">
                    Univers clients
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-block btn-primary">
                    Agenda
                </button>
            </div>
        </div>
        <div class="col-lg-9 col-sm-9 col-md-9">
            <div class="row-fluid">
                <div class="well well-lg text-center">
                    <img src="images/logo_bvs_or.png" alt="" class="image_logo">
                    <div class="">
                        <button class="btn btn-lg btn-raised btn-primary">
                            PHN
                        </button>
                        <button class="btn btn-lg btn-raised btn-primary">
                            T5
                        </button>
                        <button class="btn btn-lg btn-raised btn-primary">
                            Promo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>